<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="top">
    <img src="../../assets/pipe.jpg" alt="" />
  </div>
  <div class="info">
    <h4>Nama Usaha</h4>
    <h6>Daerah Usaha</h6>
  </div>
  <div class="deskripsi">
    <h5>Deskripsi</h5>
    <h6>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam numquam
      dolorem autem atque modi molestiae enim tempora! Illum, voluptatum ipsa,
      corrupti quos aliquid officia deserunt, iste cumque voluptatibus et nemo.
    </h6>
    <div class="rating">
      <h5>Rating :</h5>
      <h6>4.1</h6>
    </div>
    <div class="jam-kerja">
      <h5>Jadwal</h5>
      <h6>Senin, 09.00 - 15.00</h6>
      <h6>Selasa, 09.00 - 15.00</h6>
      <h6>Rabu, 09.00 - 15.00</h6>
      <h6>Kamis, 09.00 - 15.00</h6>
      <h6>Jumat, 09.00 - 15.00</h6>
    </div>

    <div class="biaya">
      <h5>Biaya :</h5>
      <h6>Rp 25.000 - Rp 300.000</h6>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="footer">
    <ion-button fill="outline" shape="round"> Hubungi Penyedia Jasa </ion-button>
  </div>
</ion-footer>
