<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-label>Kemitraan</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div routerLink="/partner/createnew">
    <ion-card>
      <img src="../../assets/plus-svgrepo-com.svg" alt="" />
      <ion-label>
        <h5>Buka Usaha Baru</h5>
        <h6>
          Punya usaha tapi gak tau gimana mulainya? Yuk bikin usaha baru di
          sini.
        </h6>
      </ion-label>
    </ion-card>
  </div>
  <div routerLink="/partner/info">
    <ion-card>
      <img src="../../assets/edit-svgrepo-com.svg" alt="" />
      <ion-label>
        <h5>Lihat Usaha Kamu</h5>
        <h6>Usaha yang kamu jalanin, bisa dilihat informasinya di sini.</h6>
      </ion-label>
    </ion-card>
  </div>
</ion-content>
