<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" defaultHref="/account"></ion-back-button>
    </ion-buttons>
    <ion-label>Riwayat Pemesanan</ion-label>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="header">
    <ion-item lines="none" (click)="active()">
      <ion-label><h5 class="active">Dalam Proses</h5></ion-label>
      <ion-label><h5>Terjadwal</h5></ion-label>
    </ion-item>
  </div>
  <div class="main">
    <ion-item>
      <div class="history">
        <img src="../../assets/toolbox-svgrepo-com.svg" alt="" />
        <div class="detail-history">
          <h5>Nama Usaha</h5>
          <h6>Kegiatan yang dijalankan</h6>
          <h6>Waktu</h6>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="history">
        <img src="../../assets/toolbox-svgrepo-com.svg" alt="" />
        <div class="detail-history">
          <h5>Nama Usaha</h5>
          <h6>Kegiatan yang dijalankan</h6>
          <h6>Waktu</h6>
        </div>
      </div>
    </ion-item>
  </div>
</ion-content>
