<ion-header class="ion-no-border">
  <div class="user">
    <h4>Hi, User!</h4>
    <img
      (click)="toAccount()"
      src="../../assets/person-circle-outline.svg"
      alt=""
    />
  </div>
  <h3>Layanan apa yang kamu butuhkan?</h3>

  <!-- <ion-toolbar> </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <div class="explore-title">
    <h6>Kategori</h6>
    <div class="border-bottom"></div>
  </div>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="4">
        <div class="content" routerLink="/craft-service">
          <img src="../../assets/toolbox-svgrepo-com.svg" alt="" />
          <ion-label> <h6>Pertukangan</h6></ion-label>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="content">
          <img src="../../assets/household-svgrepo-com.svg" alt="" />
          <ion-label>
            <h6>Rumah Tangga</h6>
          </ion-label>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="content">
          <img src="../../assets/clean-cleaning-svgrepo-com.svg" alt="" />
          <ion-label><h6>Kebersihan</h6></ion-label>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="content">
          <img src="../../assets/food-svgrepo-com.svg" alt="" />
          <ion-label><h6>Konsumsi</h6></ion-label>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="content">
          <img src="../../assets/sport-svgrepo-com.svg" alt="" />
          <ion-label><h6>Olahraga</h6></ion-label>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="content">
          <img src="../../assets/circle-svgrepo-com.svg" alt="" />
          <ion-label><h6>Lainnya</h6></ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="explore-title">
    <h6>Rekomendasi</h6>
    <div class="border-bottom"></div>
  </div>
  <div class="recommendation">
    <ion-item lines="none">
      <ion-badge color="primary" mode="ios">Terfavorit</ion-badge>
      <ion-badge color="light" mode="ios">Terdekat</ion-badge>
      <ion-badge color="light" mode="ios">Terlaris</ion-badge>
    </ion-item>
    <ion-slides [options]="option" mode="ios" pager="ios" scrollbar="ios">
      <ion-slide>
        <ion-card mode="ios">
          <img src="../../assets/pipe.jpg" alt="" />
          <ion-label>
            <h6>* 4.1</h6>
            <h5>Nama Usaha</h5>
            <h6>Jasa yang ditawarkan</h6></ion-label
          >
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card mode="ios">
          <img src="../../assets/painter.jpg" alt="" />
          <ion-label>
            <h6>* 4.1</h6>
            <h5>Nama Usaha</h5>
            <h6>Jasa yang ditawarkan</h6>
          </ion-label>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card mode="ios">
          <img src="../../assets/dump.jpg" alt="" />
          <ion-label>
            <h6>* 4.1</h6>
            <h5>Nama Usaha</h5>
            <h6>Jasa yang ditawarkan</h6>
          </ion-label>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card mode="ios">
          <img src="../../assets/builder.jpg" alt="" />
          <ion-label>
            <h6>* 4.1</h6>
            <h5>Nama Usaha</h5>
            <h6>Jasa yang ditawarkan</h6>
          </ion-label>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card mode="ios">
          <img src="../../assets/pipe.jpg" alt="" />
          <ion-label>
            <h6>* 4.1</h6>
            <h5>Nama Usaha</h5>
            <h6>Jasa yang ditawarkan</h6>
          </ion-label>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <!-- <div class="explore-title">
    <h6>Promo</h6>
    <div class="border-bottom"></div>
  </div> -->
  <div class="promo">
    <!-- <ion-slides pager="true">
      <ion-slide>
        <ion-card mode="ios">
          <img src="../../assets/shapes.svg" alt="" />
          <ion-label>
            <h6>* 4.1</h6>
            <h5>Nama Usaha</h5>
            <h6>Jasa yang ditawarkan</h6>
          </ion-label>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card mode="ios">
          <img src="../../assets/shapes.svg" alt="" />
          <ion-label>
            <h6>* 4.1</h6>
            <h5>Nama Usaha</h5>
            <h6>Jasa yang ditawarkan</h6>
          </ion-label>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card mode="ios">
          <img src="../../assets/shapes.svg" alt="" />
          <ion-label>
            <h6>* 4.1</h6>
            <h5>Nama Usaha</h5>
            <h6>Jasa yang ditawarkan</h6>
          </ion-label>
        </ion-card>
      </ion-slide>
    </ion-slides> -->
  </div>
</ion-content>
