<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="content">
    <div class="title">
      <h3>Chat Anda</h3>
    </div>
    <div class="chat">
      <ion-item>
        <div class="circle">
          <h6>M</h6>
        </div>
        <ion-label>
          <div class="pesan">
            <h4>Nama Orang</h4>
            <h6>Hai</h6>
          </div>
          <div class="tanggal">
            <h6>22/10/2022</h6>
          </div>
        </ion-label>
      </ion-item>
    </div>
    <div class="chat">
      <ion-item>
        <div class="circle">
          <h6>B</h6>
        </div>
        <ion-label>
          <div class="pesan">
            <h4>Nama Orang B</h4>
            <h6>Apa kabar?</h6>
          </div>
          <div class="tanggal">
            <h6>22/10/2022</h6>
          </div>
        </ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>
